<div (click)="toggleClass()" class="menu-icon">
    <span class="menu-icon__line menu-icon__line-left"></span>
    <span class="menu-icon__line"></span>
    <span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
    <div class="nav__content">
        <ul class="nav__list">
            <li class="nav__list-item">Accueil</li>
            <li class="nav__list-item">Cursus</li>
            <li class="nav__list-item">Projets</li>
            <li class="nav__list-item">Contact</li>
        </ul>
    </div>
</div>