<!-- The Timeline -->

<ul class="timeline">

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Baccalauréat scientifique</span>
				<span class="time-wrapper"><span class="time">2010 - 2011</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto recusandae aliquid non, laboriosam consectetur rerum expedita, nulla quidem nesciunt vero accusantium consequatur sit alias culpa labore libero amet nisi similique.</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Licence Sciences de l'Univers</span>
				<span class="time-wrapper"><span class="time">2011 - 2013</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae cum perspiciatis facilis, corporis debitis quas expedita praesentium eveniet molestias quibusdam, blanditiis, suscipit nam. Eius fugiat error esse repudiandae. Obcaecati.</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">BTS Informatique (SIO)</span>
				<span class="time-wrapper"><span class="time">2013 - 2015</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestiae tempora nam beatae odio velit earum veniam vitae sit aliquam ducimus voluptatem dolore repudiandae placeat dolorum assumenda ratione expedita ad.</div>
		</div>
    </li>
    
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Licence 3 MIAGE</span>
				<span class="time-wrapper"><span class="time">2015 - 2016</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestiae tempora nam beatae odio velit earum veniam vitae sit aliquam ducimus voluptatem dolore repudiandae placeat dolorum assumenda ratione expedita ad.</div>
		</div>
    </li>
    
    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Bachelor Ingénierie du Web</span>
				<span class="time-wrapper"><span class="time">2016 - 2017</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestiae tempora nam beatae odio velit earum veniam vitae sit aliquam ducimus voluptatem dolore repudiandae placeat dolorum assumenda ratione expedita ad.</div>
		</div>
    </li>
    
    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Master Ingénierie du Web</span>
				<span class="time-wrapper"><span class="time">2017 - aujourd'hui</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestiae tempora nam beatae odio velit earum veniam vitae sit aliquam ducimus voluptatem dolore repudiandae placeat dolorum assumenda ratione expedita ad.</div>
		</div>
	</li>
  
</ul>
