<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Baccalauréat scientifique</span>
				<span class="time-wrapper"><span class="time">2008 - 2009</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto recusandae aliquid non, laboriosam consectetur rerum expedita, nulla quidem nesciunt vero accusantium consequatur sit alias culpa labore libero amet nisi similique.</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Fac des Sciences de l'Univers</span>
				<span class="time-wrapper"><span class="time">2009 - 2011</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut beatae cum perspiciatis facilis, corporis debitis quas expedita praesentium eveniet molestias quibusdam, blanditiis, suscipit nam. Eius fugiat error esse repudiandae. Obcaecati.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">BTS Informatique (SIO)</span>
				<span class="time-wrapper"><span class="time">2011 - 2013</span></span>
			</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, molestiae tempora nam beatae odio velit earum veniam vitae sit aliquam ducimus voluptatem dolore repudiandae placeat dolorum assumenda ratione expedita ad.</div>
		</div>
	</li>
  
</ul>
