<div class="wrap">
    <div class="404">
        <pre> <code>
        <span class="comment">// Work in progress</span>
        (<span class="blue">function</span>( inDevelopment ) {{ '{' }}
            <span class="blue">function</span> launch() {{ '{' }}
                <span class="blue">if</span>( inDevelopment ) {{ '{' }}
                    <span class="blue">return '<a>https://www.linkedin.com/in/maxime-marquet/</a>'</span>;
                {{ '}' }}
                <span class="comment">// TODO</span>
            {{ '}' }}
            window.addEventListner( <span class="load">'load'</span>, launch );
        {{ '}' }}( <span class="blue">true</span> ));
        </code> </pre>
    </div>
</div>