/*********************************************
**************** VARIABLES *******************
*********************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway');

$gray--primary: #1c1d22;
$gray--secondary: #b3b3b3;
$menu--color: #b3b3b3;
$font--color: #b3b3b3;
$font--raleway: 'Raleway', sans-serif;

$transition--length: .8;

/*********************************************
**************** MEDIA SIZE ******************
*********************************************/

$S: 480px;
$M: 768px;
$L: 1170px;

@mixin MQ( $canvas ) {
	@if $canvas == S {
		@media only screen and ( max-width: $S ) {
			@content;
		}
	} @else if $canvas == M {
		@media only screen and ( max-width: $M ) {
			@content;
		}
	} @else if $canvas == L {
		@media only screen and ( max-width: $L ) {
			@content;
		}
	}
}

/*********************************************
****************** RESET *********************
*********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************
****************** OTHERS ********************
*********************************************/

body{
    padding: 0;
    margin: 0;
	background-color: $gray--primary;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    &.nav-active{
        $menu--items--count: 4;
        .menu-icon{
            &__line{
                background-color: $gray--secondary;
                transform: translateX(0px) rotate(-45deg);
            }
            &__line-left{
                transform: translateX(1px) rotate(45deg);
            }
            &__line-right{
                transform: translateX(-2px) rotate(45deg);
            }
        }
        .nav{
            visibility: visible;
            &:before, &:after{
                transform: translateX(0%) translateY(0%);
            }
            &:after{
                transition-delay: .1s;
            }
            &:before{
                transition-delay: 0s;
            }
            &__list-item{
                opacity: 1;
                color: $font--color;
                transform: translateX(0%);
                transition: opacity .3s ease, transform .3s ease, color .3s ease;
                @for $i from 0 through $menu--items--count {
                    &:nth-child(#{$i}){
                        transition-delay: $transition--length * $i / 8 + .5 + s;
                    }
                }
            }
        }
    }
}